version: '3.8'

services:
  # 1. MongoDB (The Registry & Chat History)
  mongo:
    image: mongo:latest
    container_name: ai-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  # 2. Qdrant (The Vector Knowledge Store)
  qdrant:
    image: qdrant/qdrant
    container_name: ai-qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage

  # 3. MinIO (File Storage - S3 Compatible)
  minio:
    image: minio/minio
    container_name: ai-minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # API Port
      - "9001:9001" # Console Port
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    volumes:
      - minio_data:/data

  # 4. Seq (Logs & Observability)
  seq:
    image: datalust/seq:latest
    container_name: ai-seq
    ports:
      - "5341:80"
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_ADMINPASSWORD: "123password" # <--- ADD THIS LINE
    volumes:
      - seq_data:/data
    restart: unless-stopped

volumes:
  mongo_data:
  qdrant_data:
  minio_data:
  seq_data: